body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.container {
    max-width: 800px;
    background: #ffffff;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.profile-pic {
    width: 100px; /* Ubah ukuran sesuai preferensi, misalnya 80px atau 100px */
    margin: 0 auto;
    display: block;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

section {
    margin-bottom: 20px;
}

h2 {
    color: #ffffff; /* Ubah warna teks menjadi putih */
    background-color: #add8e6; /* Ganti ini dengan warna kalem yang diinginkan, misalnya biru muda */
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    background: #eeeeee;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 5px;
}
